<!-- Header-->
<header class="header-2">
  <!-- End headerbox-->
  <div class="headerbox">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <!-- Logo-->
        <div class="col col-xl-2">
          <div class="logo">
            <a href="index.html" title="Return Home">
              <img src="assets/img/logo.png" alt="Logo" class="logo_img">
            </a>
          </div>
        </div>
        <!-- End Logo-->

        <!-- Adds nav-->
        <div class="col col-xl-10">
          <!-- mainmenu-->
          <nav class="mainmenu">
            <div class="container">
              <!-- Menu-->
              <ul class="sf-menu" id="menu">
                <li class="current">
                  <a routerLink="">Home</a>
                </li>

                <li>
                  <a href="#">World Cup</a>
                  <div class="sf-mega">
                    <div class="row">
                      <div class="col-md-3">
                        <h5><i class="fa fa-trophy" aria-hidden="true"></i>World Cup</h5>
                        <ul>
                          <li><a routerLink="/point-table">Point Table</a></li>
                          <li><a routerLink="/fixtures">Fixtures</a></li>
                          <li><a routerLink="/groups">Groups</a></li>
                          <li><a routerLink="/news">News</a></li>
                          <li><a routerLink="/contact-us">Contact Us</a></li>
                        </ul>
                      </div>

                      <div class="col-md-3">
                        <h5><i class="fa fa-users" aria-hidden="true"></i> Teams List</h5>
                        <div class="img-hover">
                          <img src="assets/img/blog/1.jpg" alt="" class="img-responsive">
                          <div class="overlay"><a routerLink="/team-list">+</a></div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <h5><i class="fa fa-futbol-o" aria-hidden="true"></i> Players List</h5>
                        <div class="img-hover">
                          <img src="assets/img/blog/2.jpg" alt="" class="img-responsive">
                          <div class="overlay"><a routerLink="player-list">+</a></div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <h5><i class="fa fa-gamepad" aria-hidden="true"></i> Results Info</h5>
                        <div class="img-hover">
                          <img src="assets/img/blog/3.jpg" alt="" class="img-responsive">
                          <div class="overlay"><a routerLink="/results">+</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="current">
                  <a href="teams.html">Teams</a>
                  <ul class="sub-current">
                    <li>
                      <a routerLink="/team-list">Teams List</a>
                    </li>
                    <li>
                      <a routerLink="/single-player" >Single Team</a>
                    </li>
                  </ul>
                </li>

                <li class="current">
                  <a routerLink="/player-list">Players</a>
                  <ul class="sub-current">
                    <li>
                      <a routerLink="/player-list">Players List</a>
                    </li>
                    <li>
                      <a routerLink="/single-player">Single Player</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a routerLink="/fixtures">Fixtures</a>
                </li>

                <li class="current">
                  <a routerLink="/results">Results</a>
                  <ul class="sub-current">
                    <li>
                      <a routerLink="/results">Results List</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="table-point.html">Point Table</a>
                </li>

                <li>
                  <a routerLink="/groups">Groups</a>
                </li>

                <li>
                  <a routerLink="/contact-us">Contact</a>
                </li>
              </ul>
              <!-- End Menu-->
            </div>
          </nav>
          <!-- End mainmenu-->

          <!-- Call Nav Menu-->
          <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>
          <!-- End Call Nav Menu-->
        </div>
        <!-- End nav Header-->
      </div>
    </div>
  </div>
  <!-- End headerbox-->
</header>
<!-- End Header-->

<!-- Mobile Nav-->
<div id="mobile-nav">
  <!-- Menu-->
  <ul>
    <li>
      <a routerLink="">Home</a>
    </li>

    <li>
      <a href="#">World Cup</a>
      <ul>
        <li>
          <a href="#">World Cup</a>
          <ul>
            <li><a routerLink="/point-table">Point Table</a></li>
            <li><a routerLink="/fixtures">Fixtures</a></li>
            <li><a routerLink="/groups">Groups</a></li>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
          </ul>
        </li>

        <li><a routerLink="/team-list">Teams List</a></li>
        <li><a routerLink="/player-list">Players List</a></li>
        <li><a routerLink="/results">Results List</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="team-list">Teams</a>
      <ul>
        <li>
          <a routerLink="/team-list">Teams List</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/player-list">Players</a>
      <ul>
        <li>
          <a routerLink="/player-list">Players List</a>
        </li>
        <li>
          <a routerLink="/single-player">Single Player</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="fixtures">Fixtures</a>
    </li>

    <li>
      <a routerLink="/results">Results</a>
      <ul>
        <li>
          <a routerLink="/results">Results List</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/point-table">Point Table</a>
    </li>

    <li>
      <a routerLink="/groups">Groups</a>
    </li>

    <li>
      <a routerLink="/contact-us">Contact</a>
    </li>
  </ul>
  <!-- End Menu-->
</div>
<!-- End Mobile Nav-->
